<!-- templates/index.html -->
<html>
  <head>
    <title>Flask Shop</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
  	<script>
		$(document).ready(function() {
		    $("#submit-btn").click(function(){
		    	body = {
		    		'stock1': $('#s1').val(),
		    		'stock2': $('#s2').val(),
		    		'riskFreeRate': $('#rf').val(),
		    	}
		    	console.log(body)
		        $.ajax({
	                url: '/minVarPortfolio',
	                type: 'post',
	                contentType: 'application/json',
	                data: JSON.stringify(body),
	                success: function( data, textStatus, jQxhr ){
	                	console.log(data)
	                	data = JSON.parse(JSON.stringify(data))
	                    $("#wA > p").text(`MVP Proportion of ${$('#s1').val()}: ${(data['wA']*100).toFixed(2)} %`)
	                    $("#wB > p").text(`MVP Proportion of ${$('#s2').val()}: ${(data['wB']*100).toFixed(2)} %`)
	                    $("#stdev > p").text(`MVP standard deviation: ${(data['stdev']*100).toFixed(2)} %`)
	                    $("#mean > p").text(`MVP Expected Portfolio Return: ${(data['stdev']*100).toFixed(2)} %`)
	                },
	                error: function( jqXhr, textStatus, errorThrown ){
	                    console.log( errorThrown );
	                }
            	});
		    }); 
		})
	</script>
    <input id="s1" class="form-control" type="text" placeholder="Stock 1 (e.g GOOGL)">
    <br>
	<input id="s2" class="form-control form-control-sm" type="text" placeholder="Stock 2 (e.g FB)">
	<br>
	<input id="rf" class="form-control form-control-sm" type="text" placeholder="Risk Free Rate(e.g 0.02=2%)">
	<button id="submit-btn" type="submit" class="btn btn-primary">Submit</button>
	<h1>Minimum Variance Portfolio<h1>
	<br><br>
	<div id="wA"><p></p></div>
	<br><br>
	<div id="wB"><p></p></div>
	<br><br>
	<div id="stdev"><p></p></div>
	<br><br>
	<div id="mean"><p></p></div>
  </body>
</html>